# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
build/
dist/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env*.local

# Local editor and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Caches
.turbo/
.vercel/
coverage/
